body
{
  font-family: "Lato", sans-serif;
}
.sidenav
{
  background: #161718;
  position: fixed;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a
{
  color: #fff;
  padding: 10px 15px 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.sidenav a:hover
{
  background: rgb(43, 43, 55);
}
h2
{
  padding: 10px 15px 10px 16px;
  color: #fff;
  border-bottom-style: solid;
   
}
.main
{
  background: #fefefe;
  margin-left: 30%;
  padding: 4px 10px;
  color: #fff;
  display: inline-block;
  margin-top: 50px;
}
 
/*Making responsive*/
@media screen and (max-width: 600px)
{
  .sidenav
  {
    padding-top: 15px;
    width: 155px;
 
  }
  .sidenav a
  {
    padding-left: 20px;
    font-size: 18px;
  }
  .main
  {
    margin-left: 32%;
    font-size: 15px;
  }
  p
  {
    display: inline-block;
  }
}
/*navbar*/
header{
    margin: -8px;
    padding: 10px 28px ;
    width: 98%;
    background:#1e2022;
   height: 30px;
 
}
 
.menu ul li{
    padding: 0;
    margin: 0;
    list-style-type:none ;
    color: #f1e9e9;
    display: inline-block;
    font-size: 18px;
    margin-left: 24px;
    margin-top: -170px;
   
}
.navbar-right{
    float: right;
}
.container1 .logo img{
    width: 50px;
    height: 50px;
}
 
 
 
 
/*table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: -8%;
    
   
  }
 
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: black;
  }
 
  tr:nth-child(even) {
    background-color: rgb(215, 183, 183);
  }
  .main h1{
    text-align: center;
    color: black;
    margin-left: -20%;
  }
  .main tr button{
    background-color: rgb(67, 40, 91)x;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-weight: bold ;
    color: white;
  }
  .add{
    background-color: rgb(67, 40, 91);
    border-radius: 18px;
    width: 130px;
    height: 36px;
    color: white;
    margin-left: 240px;
  }