<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="admin-dashboard.component.css">
 
 
 
<div class="body">
<h1 class="animate-charcter"> DASHBOARD</h1>
 <aside>
   
    <p> Menu </p>
    <a href="/adminequipment">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Equipment
    </a>
    <a href="/adminoffers">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      Offers
    </a>
    <a href="/admintrainer">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Trainer
    </a>
    <a href="/adminmembership">
      <i class="fa fa-star-o" aria-hidden="true"></i>
      Membership
    </a>
  </aside>

 
 
 

 
<div class="main">
 <!-- <h1>Welcome, you are now an admin. </h1>-->
 <h1 class="reveal-text">
  Welcome, you are now an admin.
</h1>
 
 
 
   <div class="back">
   
   
    <video autoplay Loop muted>
     
      <source src="https://media.istockphoto.com/id/1939386840/video/woman-pulling-bar-down-on-lat-pulldown-machine-line-cartoon-animation.mp4?s=mp4-640x640-is&k=20&c=2w4f2_i_S919rcF4ANT5WwZspThlVO3pt9jllZyhgbk=" type="video/mp4">
   
    </video>
  </div>
  
 
</div>
 
</div>