
  <header>
    <div class="container1">
        <div class="logo">
            <img src="https://file.trainerize.com/3798631/banner/174e0cb7-d78c-4629-ae91-2421f9b464ff"
                alt="Logo">
                <div class="navbar-right">
                    <div class="menu">
                        <ul>
                            <li>Home</li>
                            <a routerLink="/offer"><li>Offers</li></a>
                            <li ><button (click)="logout()">LogOut</button></li>
                        </ul>
                    </div>
                </div>
            </div>

       

    </div>
</header>



<div class="back">
    <video width="100%" autoplay Loop muted>
      <source src="https://assets.mixkit.co/videos/preview/mixkit-two-people-working-out-1318-large.mp4" type="video/mp4">
    
    </video>
</div>

  <h1 class="heading">About</h1>
<div class="card-content">
  <img
    class="about-img"
    src="https://t4.ftcdn.net/jpg/03/17/72/47/240_F_317724775_qHtWjnT8YbRdFNIuq5PWsSYypRhOmalS.jpg"
    alt="About Gym"
  />

  <div class="text-container">
    <h2 class="heading-2">Welcome to FitFlex</h2>
    <p>
      Gyms stand as beacons of motivation, inspiring individuals to embrace
      their inner strength and push past obstacles. With every weight lifted and
      every mile conquered, they instill a spirit of resilience and
      determination, fueling a journey of self-improvement, empowerment, and
      unparalleled achievement.
    </p>
  </div>
</div>
<div class="container">
  <div class="content">
    <img
      src="https://st2.depositphotos.com/1518767/8186/i/450/depositphotos_81866598-stock-photo-muscular-couple-doing-abdominal-ball.jpg"
      alt="About Trainers"
    />
    <div>
      <h2><a href="/trainer">About Trainers</a></h2>
      <p>
        Gym trainers sculpt not just bodies, but aspirations. With dedication
        and expertise, they transform sweat into strength and ambition into
        achievement.
      </p>
    </div>
  </div>

  <div class="content">
    <img
      src="https://t4.ftcdn.net/jpg/03/17/72/47/360_F_317724775_qHtWjnT8YbRdFNIuq5PWsSYypRhOmalS.jpg"
      alt="Explore Gym"
    />

    <div>
      <a href="/equipment"><h2>Explore Gym</h2></a>
      <p>
        Gyms are transformative spaces where individuals embark on journeys of
        self-discovery, pushing physical limits, and forging mental resilience.
        They foster camaraderie, discipline, and determination, empowering
        individuals to transcend obstacles and achieve peak fitness and
        wellness.
      </p>
    </div>
  </div>

  <div class="content">
    <img
      src="https://marketplace.canva.com/EAF4bEH_bgI/1/0/1600w/canva-black-and-white-geometric-bold-modern-sculpt-your-body-fitness-instagram-post-0uwCw0B_-QA.jpg"
      alt="Join Us"
    />
    <div>
      <h2><a href="/membership">Join Us</a></h2>
      <p>
        Ready to redefine your limits? Our gym is your gateway to a world of
        endless possibilities. With cutting-edge equipment, dynamic classes, and
        a supportive community, join us on a journey of self-discovery,
        strength, and empowerment. Your transformation starts here.
      </p>
    </div>
  </div>
</div>

<h1 class="heading">Reviews</h1>
<div class="container">
  <div class="content">
    <div class="img-container">
      <img
        src="https://png.pngtree.com/png-clipart/20190902/original/pngtree-cute-girl-avatar-element-icon-png-image_4393286.jpg"
        alt=""
      />
    </div>
    <p>
      I joined this gym a year ago, and it's been the best decision I ever made. 
      The trainers are incredibly knowledgeable and supportive, and I've seen amazing results.
    </p>
  </div>
  <div class="content">
    <div class="img-container">
      <img
        src="https://static.vecteezy.com/system/resources/previews/002/002/257/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg"
        alt=""
      />
    </div>
    <p>
      Easily the best gym in the city, reasonably priced and a great workout atmosphere – nice but not fancy, lots of people serious about fitness. 
      Ive gotten some of my best training advice from staff there. 
      Results are amazing. Community feels really good. 
      Classes and platforms are creative and constantly changing and evolving.
    </p>
  </div>
  <div class="content">
    <div class="img-container">
      <img
        src="https://static.vecteezy.com/system/resources/previews/002/002/257/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg"
        alt=""
      />
    </div>
    <p>
      This gym is amazing. Amazing facility, top equipment and great environment. 
      Good service with friendly staff and super clean and comfortable gym for everyone 
      from beginners to professional athletes to train at.
    </p>
  </div>
  <div class="content">
    <div class="img-container">
      <img
        src="https://cdn-icons-png.flaticon.com/512/5556/5556468.png"
        alt=""
      />
    </div>
    <p>
      Had a great gym session in here, has all the facilities/machines you could possibly want, and then some! 
      Kind helpful and friendly staff, superb central location - price slightly more 
      expensive for a day pass than other gyms but it’s worth it for the equipment facilities. 
      Will definitely be back!
    </p>
  </div>
</div>


<h1 class="heading">Contact Us</h1>
<div class="contact">
  <div class="img-container">
    <img
      mat-card-image
      src="https://assets-global.website-files.com/5daf6be34d7026250a7966b7/6455386b57c1cd22cae2d3ed_UL-SellGymMemberships-cta600x400.png"
      alt="Contact Us"
    />
  </div>

  <div class="contact-info">
    <p><strong>Phone:</strong> (123) 456-7890</p>
    <p><strong>Email:</strong> fitflexgmail.com</p>
    <p>
      <strong>Address:</strong> 123 Fitness Avenue, Banglore, Karnataka, 560103
    </p>
    <p><strong>Operating Hours:</strong></p>
    <ul>
      <li>Monday - Friday: 6:00 AM - 10:00 PM</li>
      <li>Saturday - Sunday: 8:00 AM - 8:00 PM</li>
    </ul>
    <p>
      For inquiries or appointments, please use the contact form on our website
      or reach out to us via phone or email. Connect with us on social media for
      the latest updates and promotions.
    </p>
  </div>
</div>
<h3>Copyrights &#169; : Company- FlexFit</h3>
