.sidenav
{
  background: #161718;
  position: fixed;
  height: 100%;
  width: 15%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a
{
  color: #fff;
  padding: 10px 15px 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.sidenav a:hover
{
  background: rgb(43, 43, 55);
}
h2
{
  padding: 10px 15px 10px 16px;
  color: #fff;
  border-bottom-style: solid;
   
}