<header>
    <div class="container1">
        <div class="logo">
            <img src="https://file.trainerize.com/3798631/banner/174e0cb7-d78c-4629-ae91-2421f9b464ff"
                alt="Logo">
                <div class="navbar-right">
                    <div class="menu">
                        <ul>
                            <a href="/homepage"><li>Home</li></a>
                            <a href="/offer"><li>Offers</li></a>
                            <li ><button (click)="logout()">LogOut</button></li>
                        </ul>
                    </div>
                </div>
            </div>

       

    </div>
</header>