<!-- 
<link rel="stylesheet" type="text/css" href="updatetrainer.component.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">


<div class="sidenav">
  <h2>Dashboard</h2>
  <a href="/addequipment">Equipment</a>
  <a href="/addtrainer">Trainer</a>
  <a href="/addoffers">Offers</a>
  <a href="/addmembership">Membership</a>

</div>


<header>
  <div class="container1">
              <div class="navbar-right">
                  <div class="menu">
                      <ul>
                          <li>Home</li>
                          <li>About</li>
                          <li>Contact</li>
                     
                      </ul>
                  </div>
              </div>
    </div>
</header>


<div class="main">

  <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
          <span class="fs-3">Edit Data</span>
      </div>
  </div>
 
  <div class="row">
      <div class="col mb-3">
          <label for="lastname" class="form-label">Trainer Name</label>
          <input type="text" class="form-control" id="trainerName" [(ngModel)]="trainer.trainerName">  
      </div>
  </div>
  <div class="row">
      <div class="col mb-3">
          <label for="des" class="form-label">Trainer Email</label>
          <input type="email" class="form-control" id="trainerEmail" [(ngModel)]="trainer.trainerEmail">
          <div class="form-text"></div>

      </div>
  </div>
  <div class="row">
      <div class="col mb-3">
          <label for="location" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="trainerPhoneNumber" [(ngModel)]="trainer.trainerPhoneNumber">
          <div class="form-text"></div>
      </div>
     

      </div>
      <div class="row">
          <div class="col mb-3">
              <label for="location" class="form-label">Trainer Specification</label>
              <input type="text" class="form-control" id="trainerSpecification" [(ngModel)]="trainer.trainerSpecification">
              <div class="form-text"></div>
          </div>
         
 
          </div>
          <div class="row">
              <div class="col mb-3">
                  <label for="location" class="form-label">Image Url</label>
                  <input type="text" class="form-control" id="imageUrl" [(ngModel)]="trainer.imageUrl">
                  <div class="form-text"></div>
              </div>
             
     
              </div>
 
 
  <div class="row">
      <div class="col-6 offset-3">
          <div class="d-grid">
              <button type="submit" (click)="updateTrainer(trainer)" class="btn ">Submit</button>
          </div>
      </div>
  </div>
 
</div> -->
